@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open-Sans/OpenSans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  font-weight: 300;
  font-size: 20px;
  background-color: #1e1e1e;
  color: #f5f5f5;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.link-reset {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.section {
  padding: 70px 0;
}
.section-hero {
  padding-top: 160px;
  padding-bottom: 195px;
}

.title {
  margin: 0;
  font-weight: 700;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

.text {
  margin: 0;
  color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

.header {
  padding: 40px 0;
  border-bottom: 1px solid #7d7d7d;
}
.header-container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}
.header__link-logo {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #f5f5f5;
}

.nav-menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-family: "Open Sans", sans-serif;
}
.nav-menu__link {
  position: relative;
  display: inline-block;
  color: #f5f5f5;
}
.nav-menu__link::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  bottom: -1px;
  left: 0;
  background-color: #f5f5f5;
  transition: all 0.6s;
}
.nav-menu__link:hover::before {
  width: 100%;
  height: 1px;
  bottom: -2px;
  transition: all 0.3s;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.hero__wrap {
  max-width: 615px;
}
.hero__title {
  margin-bottom: 15px;
  font-size: 48px;
}
.hero__title--underline {
  position: relative;
}
.hero__title--underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.15em;
  left: 0;
  bottom: 3px;
  background-color: #528be7;
}
.hero__text {
  margin-bottom: 45px;
}
.hero__link {
  display: inline-block;
  padding: 15px 30px;
  color: #f5f5f5;
  background-color: #528be7;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.hero__link:hover {
  background-color: #f5f5f5;
  color: #528be7;
}
.hero__link:active {
  transform: scale(0.95);
}
.hero__foto {
  width: 200px;
  height: 100%;
}

.projects__title {
  margin-bottom: 100px;
  font-size: 36px;
  text-align: center;
}
.projects__wrap {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.project {
  display: flex;
  align-items: center;
  gap: 90px;
}
.project:nth-child(even) {
  flex-direction: row-reverse;
  text-align: end;
}
.project__screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px 65px;
  max-width: 400px;
  min-width: 400px;
  background-color: #528be7;
  border-radius: 5px;
}
.project__screen--icon-shop::before {
  content: url(../images/2.webp);
  display: block;
  text-align: center;
}
.project__screen--icon-portf::before {
  content: url(../images/1.webp);
  display: block;
  text-align: center;
}
.project__screen--icon-adapt::before {
  content: url(../images/3.webp);
  display: block;
  text-align: center;
}

.screen-project__subtitle {
  text-align: center;
  font-size: 20px;
}

.description-project__subtitle {
  margin-bottom: 10px;
}
.description-project__text {
  font-size: 16px;
}

.contacts__title {
  margin-bottom: 100px;
  font-size: 36px;
  text-align: center;
}
.contacts__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.email {
  max-width: 320px;
}
.email__subtitle {
  margin-bottom: 15px;
  font-size: 26px;
}
.email__text {
  margin-bottom: 50px;
}
.email__link {
  position: relative;
  margin-right: 17px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #528be7;
  text-decoration: none;
  transition: all 0.3s;
}
.email__link-arrow::after {
  content: url(../images/way.png);
  position: relative;
  top: 0;
  transform: translateX(-50%);
}
.email__link::before {
  content: "";
  width: 0px;
  position: absolute;
  bottom: -8px;
  left: 0;
  color: #528be7;
  transition: all 0.6s;
  border-bottom: 2px solid;
}
.email__link:hover::before {
  width: 98%;
  transition: all 0.3s;
  color: #f5f5f5;
}
.email__link:hover {
  color: #f5f5f5;
}

.connect {
  max-width: 350px;
}
.connect__subtitle {
  font-size: 26px;
  margin-bottom: 50px;
}

.form__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  gap: 35px;
}
.form__input {
  width: 100%;
  height: 30px;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #f5f5f5;
  background-color: #1e1e1e;
  border: 0;
  border-bottom: 1px solid #528be7;
  transition: all 0.6s;
}
.form__input:focus {
  border-bottom: 1px solid #f5f5f5;
}
.form__input::-moz-placeholder {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #7d7d7d;
}
.form__input::placeholder {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #7d7d7d;
}
.form__btn {
  padding: 15px 30px;
  width: 100%;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #528be7;
  color: #f5f5f5;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.form__btn:hover {
  background-color: #f5f5f5;
  color: #528be7;
}
.form__btn:active {
  transform: scale(0.95);
}

.footer {
  padding: 60px 0;
  border-top: 1px solid #7d7d7d;
}
.footer-container {
  width: 100%;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-info__foto {
  width: 140px;
}
.footer-info__title {
  margin-bottom: 20px;
  font-size: 24px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: all;
          text-decoration-skip-ink: all;
  text-decoration-color: #528be7;
  text-decoration-thickness: 0.15em;
}
.footer-info__icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  fill: #f5f5f5;
  transition: fill 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}
.icon:hover {
  fill: #528be7;
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .section-hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .hero__link {
    font-size: 20px;
  }
  .icon {
    transform: scale(1.6);
  }
  .icon:hover {
    transform: scale(1.8);
  }
  .footer-info__icons {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .section-hero {
    padding-bottom: 130px;
  }
  .hero__link {
    font-size: 28px;
  }
  .projects__title {
    font-size: 40px;
  }
  .project {
    flex-direction: column-reverse;
    align-items: normal;
    gap: 50px;
  }
  .project:nth-child(even) {
    flex-direction: column-reverse;
    align-items: end;
  }
  .description-project {
    max-width: 580px;
  }
  .description-project__subtitle {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .description-project__text {
    font-size: 22px;
  }
  .screen-project {
    width: 100%;
    max-width: 100%;
    min-height: 350px;
  }
  .contacts__title {
    font-size: 40px;
  }
  .contacts__wrap {
    flex-direction: column;
    align-items: start;
  }
  .email {
    max-width: 100%;
    margin-bottom: 100px;
  }
  .email__subtitle {
    font-size: 30px;
  }
  .email__text {
    font-size: 22px;
  }
  .email__link {
    font-size: 24px;
  }
  .connect {
    width: 100%;
    max-width: 100%;
  }
  .connect__subtitle {
    font-size: 30px;
  }
  .form__input {
    height: 60px;
    font-size: 22px;
  }
  .form__input::-moz-placeholder {
    font-size: 22px;
  }
  .form__input::placeholder {
    font-size: 22px;
  }
  .form__btn {
    font-size: 20px;
  }
  .footer-info__title {
    font-size: 25px;
    margin-bottom: 60px;
  }
  .footer-info__icons {
    gap: 55px;
  }
  .icon {
    transform: scale(2.5);
  }
  .icon:hover {
    transform: scale(2.3);
  }
}
@media (max-width: 576px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .hero__foto {
    width: 250px;
  }
  .hero__title {
    margin-bottom: 30px;
  }
  .hero__text {
    font-size: 22px;
    margin-bottom: 70px;
  }
  .description-project {
    max-width: 100%;
  }
  .screen-project {
    min-width: auto;
    min-height: 80vh;
  }
}
@media (max-width: 360px) {
  .hero__title {
    font-size: 45px;
  }
  .screen-project {
    min-width: auto;
  }
  .form__input {
    height: 60px;
    font-size: 18px;
  }
  .form__input::-moz-placeholder {
    font-size: 16px;
  }
  .form__input::placeholder {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */