@use '../vars' as *;

.projects {

  &__title {
    margin-bottom: 100px;
    font-size: 36px;
    text-align: center;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__btn {
    padding: 10px 30px;
    color: $text-main-color;
    background-color: $accent-color;
    border-radius: 3px;
    font-family: $font-main;
    font-weight: 700;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: $text-main-color;
      color: $accent-color;
    }

    &:active {
      transform: scaleY(0.95);
    }
  }
}

.project {
  display: flex;
  align-items: center;
  gap: 90px;

  &--invis {
    display: none;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: end;
  }

  &__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 65px;
    max-width: 400px;
    min-width: 400px;
    background-color: $accent-color;
    border-radius: 5px;

    &--icon-shop::before {
      content: url(../images/2.webp);
      display: block;
      text-align: center;
    }

    &--icon-portf::before {
      content: url(../images/1.webp);
      display: block;
      text-align: center;
    }

    &--icon-adapt::before {
      content: url(../images/3.webp);
      display: block;
      text-align: center;
    }
  }
}

.screen-project {

  &__subtitle {
    text-align: center;
    font-size: 20px;
  }
}

.description-project {

  &__subtitle {
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
  }
}